<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Hub</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="/model/scripts.js" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-main min-h-screen flex-center">
    <nav class="navbar">
      <a href="homepage.html" class="logo-container">
        <img src="assets/Logo.png" alt="logo" class="logo" />
      </a>
      <div class="nav-links">
        <a href="student-activity.html" class="nav-link">Student Activities</a>
        <a href="clubs.html" class="nav-link">Clubs</a>
        <a href="Facilities.html" class="nav-link">Facilities</a>
        <a href="contact.html" class="nav-link">Contact</a>
      </div>
    </nav>
    <h1 class="header-text mb-4">Welcome to Our Student Hub!</h1>
    <div class="grid-container">
      <div class="feature-card">
        <div>
          <a href="student-activity.html" class="nav-link"
            ><h2 class="feature-title my-2">Student Activities</h2></a
          >
          <p class="feature-description">
            Check the date, time, location, description and organizer for
            different Student Activities.
          </p>
        </div>
        <img
          alt="Student Activities"
          src="assets/home/home1.jpg"
          class="feature-image"
        />
      </div>
      <div class="feature-card">
        <div>
          <a href="clubs.html" class="nav-link"
            ><h2 class="feature-title my-2">Clubs</h2></a
          >
          <p class="feature-description">
            Check the list of clubs for students
          </p>
        </div>
        <img alt="Clubs" src="assets/home/home2.jpg" class="feature-image" />
      </div>
      <div class="feature-card">
        <div>
          <a href="facilities.html" class="nav-link"
            ><h2 class="feature-title my-2">Facilities</h2></a
          >
          <p class="feature-description">
            Check information about campus facilities like libraries, gyms,
            cafeterias, etc.
          </p>
        </div>
        <img
          alt="Facilities"
          src="assets/home/home3.jpg"
          class="feature-image"
        />
      </div>
      <div class="feature-card">
        <div>
          <a href="contact.html" class="nav-link"
            ><h2 class="feature-title my-2">Contact</h2></a
          >
          <p class="feature-description">
            Contact us to submit inquiries or feedback.
          </p>
        </div>
        <img alt="Contact" src="assets/home/home4.jpg" class="feature-image" />
      </div>
    </div>
  </body>
</html>
